//* Blog List Page *//
.blog-list-section {
  height: 100lvh;
  width: 100%;
  .title {
    font-size: 2em;
    text-align: center;
    margin: 70px 0 50px 0;
  }
  .tags-link {
    font-size: 1.1em;
    width: fit-content;
    display: block;
    margin: 40px auto 30px auto;
  }
  ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 800px;
    li {
      margin: 20px 0 20px 0;
      overflow: visible;
      padding: 20px;
      background-color: #454545;
      overflow-wrap: anywhere;
      .post-link {
        text-decoration: none;
        h2 {
          font-size: 1.7em;
          margin: 0;
          padding: 0;
          text-align: center;
          text-decoration: underline;
        }
        .date,
        .author {
          font-size: 0.9em;
          margin: 0;
          padding: 0;
        }
      }
      .tags {
        font-size: 1em;
        margin: 10px 0 0 0;
        padding: 0;
        text-align: right;
      }
    }
  }
}
