//* Blog Page *//
.blog-section {
  padding: 0;
  margin: 0;
  background-color: #282828;
  .blog-content {
    display: flex;
    width: 100%;
    max-width: 1160px;
    margin: 30px auto 130px auto;
    .toc-box {
      margin: 150px 20px 0 50px;
      padding: 10px 0 10px 0;
      width: 300px;
      height: 400px;
      background-color: #454545;
      overflow-y: scroll;
      overflow-x: visible;
      position: sticky;
      top: 20px;
    }
    .blog-container {
      max-width: calc(100% - 40px);
      flex: 1;
      padding: 0 20px 20px 20px;
      background-color: #454545;
      .blog-title {
        text-align: center;
      }
      .blog-meta {
        text-align: center;
        span {
          display: inline-block;
          margin: 0 10px;
        }
      }
    }
    /* mobile */
    @media screen and (max-width: 1010px) {
      .toc-box {
        display: none;
      }
      .blog-container {
        margin: 0;
      }
    }
    /* PC */
    @media screen and (min-width: 1011px) {
      .blog-container {
        max-width: 760px;
        margin: 0 0 0 20px;
      }
    }
  }
  .blog-config {
    font-family: "Sawarabi Gothic", serif;
    h1 {
      font-size: 2.5em;
      font-weight: 400;
    }
    h2 {
      font-size: 2em;
      font-weight: 400;
    }
    h3 {
      font-size: 1.8em;
      font-weight: 400;
    }
    h4 {
      font-size: 1.6em;
      font-weight: 400;
    }
    h5 {
      font-size: 1.3em;
      font-weight: 400;
    }
    h6 {
      font-size: 1.1em;
      font-weight: 400;
    }
    p {
      font-size: 1.1em;
      font-weight: 400;
    }
    blockquote {
      background-color: #3d3d3d;
      margin: 0;
      padding: 5px 10px;
      border-left: #595959 5px solid;
      * {
        margin: 0;
        padding: 0;
        color: #ececec;
      }
    }
    pre {
      padding: 15px;
      border-radius: 7.5px;
      box-sizing: border-box;
      overflow: auto;
    }
  }
}
